.content {
	margin: 30px;
}

.title {
	text-align: center;
	width: 500px;
	margin: 0 auto;
	font-size: 40px;
}

#back {
	display: inline-block;
	float:left;
	margin-top: -45px;
	cursor: pointer;
}

#view {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	padding: 50px 0px;
	text-align: center;
}

#subhead{
	text-align: left;
	width: 50%;
	margin: 0 auto;
	font-size: 20px;
}

#subhead2{
	text-align: left;
	width: 50%;
	margin: 0 auto;
	font-size: 17px;
}

.actions {
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
}

.viewScript,
.addScript {
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 30px;
	background-color: #be9ad3;
	margin-top: 30px;
	border: 2px solid #FFF;
}

input[type=file] {
    display:block;
    height:0;
    width:0;
}

#playName {
    width:50%; 
    font-size: 20px;
    font-family: 'Lato'
    font-weight: bold;
}

#playName:focus{
    outline:none;
    border-color: #be9ad3;
    box-shadow:0 0 5px #be9ad3;
}

#menu { 
	width:50%; 
	height:200px; 
	overflow:hidden; 
	overflow-y:scroll;
	margin: 0 auto;
	text-align: left;

}

#menu ul li:hover {
    cursor: pointer;
}

#menu ul li {
    border: 2px solid #FFF;
}

#close {
	margin-top: -45px;
	font-size: 40px;
	cursor: pointer;
}